 /* Navbar */
    .navbar-brand {
      font-family: 'Pacifico', cursive;
      font-size: 2.2rem;
      color: #6fa58a;
    }

    .navbar-nav {
      font-family: 'Poppins', sans-serif;
    }
   .section-title {
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      color: #444;
      position: relative;
    }

    .hero{
        height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(163, 198, 163);
}
.hero-content {
  position: relative;
  text-align: center;
  max-width: 700px;
  padding: 20px;
}


.faq-container {
  max-width: 700px;
  margin: auto;
}

.faq-item {
  background: #fff;
  border-radius: 12px;
  margin-bottom: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  overflow: hidden;
}

.faq-question {
  padding: 20px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon {
  width: 30px;
  height: 30px;
  background: #e6eee2;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.faq-answer {
  display: none;
  padding: 0 20px 20px;
  color: #555;
  line-height: 1.6;
}


.footer {
  background: #f4f6f5;
  padding: 60px 20px 25px;
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

.footer-container {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
}

.footer-about h3 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #2c2c2c;
}

.footer-about p {
  font-size: 14px;
  line-height: 1.6;
  color: #555;
}

/* FOOTER LINKS */
.footer-links h4 {
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  text-transform: uppercase;
  color: #777;
}

.footer-links a {
  display: block;
  font-size: 14px;
  color: #555;
  text-decoration: none;
  margin-bottom: 10px;
}

.footer-links a:hover {
  color: #6fa58a;
}

/* FOOTER BOTTOM */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  padding-top: 18px;
  border-top: 1px solid #ddd;
  font-size: 13px;
  color: #666;
}
